header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="https://lh3.googleusercontent.com/a-/ALV-UjWytEQ41M3mui9jSq5w2OFYBJJ1A34slmMW1jU-_AD2f6AHiZLBx1zYkHNB5f4OxEtEnFnKTPH7VU-z-qEvmscisoZwoFoGLZQEzpnOXxQ2YaI2s8p1yvXM8DMp7phYuBFQd6vQR5uOYX88Werbj904AqlfyPLpNV4wv3jgcU0eoh4BeRz-s9cthgnvAY98PtlD1_RhlRgK9RDq5w5z4aTmEBOuIS6d0CAZb5xlRDoK3gNlO694h3xV-5Zahcj0n1MBLKp8PGclwTWjCnitxBFVlFSTDxpXNXWP_TfC6wZPBZEk2bfK1ZLKkrsewRg5hmHdoM_GVWj32rxMABKt4dKX_BpV_zoPD3a5jLx7wRZpjLqw-roOZrJXm-eaPMvMdtz1nveuQILQcXh9TwOMGc8QXEqf06hBcYeNZCsLhaLFcFdHsTS-EuQUwo_rI6CicgcE3tRu8fabEX0fX-3hBVX57PKJ9ojEnu95TjDGG4EybECw5Ph1oUTkF_JXlfCw6NjArBbouC_to8L4Gizxd70ZPEWxB2Xgj_pRWXQdF6Bkqf9SX-pdcIllcGeaV4BgrEE6_tpb1jDCQnEO-oupIKcej_b4TVPxTH5HjBjBLJ3NVEaJn5pO9khBSAwT3GBl1Cj0blBy_QcvpmR9lW8SbMDLP3b3jeO5kU1Am5v1Ux1miYHaTvPkqpG5S83BpnbvraqHKUuNUFHHZY6T3C6WTo-6WyQJ-9kiDhTOBlYlzFA3ObzB3ip_Acp6vNLnRM3E7v8cFiUE_OmEiOTHBJ5mKpMyoJmZAy2TYYMupVVEb3ha7aPeZH-J0dkZhxmAYQ_ynz-jMjCLRCNEK1GcNIMjd52_5PIr_oeaq0EuTxHLg5VTM9rBcdGTJnsEUHYQ0qtbHpWipXZU7Y_MMh8_tUNX8vKvEOyrS12qbA5tVqFIpBYoCE6V7vk4F1giRJ3de1R7jABA-NUz6TGE-9KomIaxORTq=s360-c-no", alt="Logo")
      .col-9
        .inner-menu
          ul
            li
              a(href="/") Trang chủ
            li
              a(href="/categories") Danh mục
            li 
              a(href="/cart") Giỏ hàng (<span mini-cart>0</span>)